<div class="{{ cssClass }}">
    {% if addDetails|default() and (detailsUrl|default() or modalUrl|default()) %}
        {% if useModal|default() %}
            <a class="details" href="{{ modalUrl }}" data-toggle="modal">
                {{ 'huh.list.misc.detailsTitle' | trans }}
            </a>
        {% else %}
            <a class="details" href="{{ detailsUrl }}">
                {{ 'huh.list.misc.detailsTitle' | trans }}
            </a>
        {% endif %}
    {% endif %}


    {% if images|default() %}
        <figure class="image_container">
            <img src="{{ images }}" title="{{ title }}" />
        </figure>
    {% endif %}
    <h3>{{ title }}</h3>

    {% if description|default() %}
    <div class="content">
        {{ description }}
    </div>
    {% endif %}

    {% if priceLevel %}
    <div class="price">
        {{ priceLevel }}
    </div>
    {% endif %}

    {% if addShare|default() and shareUrl|default() %}
        <a class="share" href="{{ shareUrl }}" data-message="{{ shareMessage }}">
            {{ shareTitle }}
        </a>
    {% endif %}
</div>