<tr class="{{ cssClass }}">
    {% if locked|default() %}
        <td>
            {{ locked|date('d.m.Y H:i') }}
        </td>
    {% endif %}
    {% if customerLink|default %}
        <td>
            <a href="{{ customerLink }}">{{ customer }}</a>
        </td>
    {% elseif customer|default() %}
        <td>
            {{ customer }}
        </td>
    {% endif %}
    {% if document_number|default() %}
        <td>
            {{ document_number }}
        </td>
    {% endif %}
    {% if grandTotal|default() %}
        <td>
            {{ grandTotal|raw }}
        </td>
    {% endif %}
    {% if orderStatus|default() %}
        <td>
            {{ orderStatus }}
        </td>
    {% endif %}
    {% if detailsLink|default() %}
        <td>
            <a class="btn btn-xs btn-default details" href="{{ detailsLink }}">
                {{ 'huh.list.misc.detailsTitle' | trans }}
            </a>
        </td>
    {% endif %}
</tr>